@charset "utf-8";

body {
  margin: 0;
}

header {
  background: lightgrey;
  text-align: center;
  padding: 32px 0;
}

header img {
  border-radius: 50%;
}

h1 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

p {
  margin: 0;
}

main {
  padding: 64px 0;
}
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 20px;
}

section {
  width: 400px;
  margin: 64px auto 0;
}

section p {
  margin-top: 16px;
  line-height: 1.8;
}
footer{
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 64px 0;
}
small{
  font-size: 14px;
  color: #aaa;
}
address{
  color: lightgrey;
 margin-top: 16px;
}
address img{
  width: 24px;
  height: 24px;
}
a:hover{
  opacity: .7;
}